body {
  background-color: #36393F !important;
  font-family: 'Poppins', sans-serif !important;
}

.logo {
  width: 20%;
}

.displayer {
  background-color: #16161681;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .12);
  border-radius: 10px;
}

.displayer h1 {
  color: white;
  font-weight: 700;
  font-size: 5vh;
}

.end-timer {
  color: white;
  font-size: 4vh;
}

.start-date {
  font-size: 2vh;
  color: white;
}

.links {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  gap: 20px;
}